body {
    background-image: url(../img/back2.jpg);
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
}

.container {
    background-color: rgba(54, 70, 70, 0.7);
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 7%
    margin-right: 7%;
    max-height: 1500px;
    min-height: 500px;
    width: 70%;
    animation: zoomIn;
    animation-duration: 5s;
}

.h1 {
    color: #BFDCDC;
    display: flex;
    list-style: none;
    font-size: 0,7em;
    margin: 20px;
    border-color: #522828;
    font-family: 'Handlee', cursive;
    text-decoration: none;
    font-size: 4vw;
    text-align: center;

}

h1:hover {
    color: #5A9494;
    cursor: none;
}

.text {
    color: #BFDCDC;
    display: flex;
    list-style: none;
    font-size: 2.0vw;
    margin: 20px;
    border-color: #522828;
    font-family: 'Handlee', cursive;
    text-decoration: none;
    font-size: min(1em,1.5vh);
    word-spacing: 0.5em;
    text-align: left;
}

.goback {
    color: #BFDCDC;
    display: flex;
    list-style: none;
    font-size: 0,7em;
    margin: 0px;
    background-color: transparent;
    border-color: #522828;
    font-family: "Lucida Handwriting";
    text-decoration: none;
    font-size: 2vw;
    text-align: right;
    float: right;
}

.h1 {
    color: #BFDCDC;
    display: flex;
    list-style: none;
    font-size: 0,7em;
    margin: 20px;
    border-color: #522828;
    font-family: 'Handlee', cursive;
    text-decoration: none;
    font-size: 4vw;
    text-align: center;

}

h1:hover {
    color: #5A9494;
    cursor: none;
}

.text {
    color: #BFDCDC;
    display: flex;
    list-style: none;
    font-size: 2.0vw;
    margin: 20px;
    border-color: #522828;
    font-family: 'Handlee', cursive;
    text-decoration: none;
    font-size: min(1em,1.5vh);
    word-spacing: 0.5em;
    text-align: left;
}

img {
    max-width: 40%;
    height: auto;
    float: left;
    margin: 20px;

}

.img2 {
    max-width: 40%;
    height: auto;
}

.img1 {
    float: right;
    max-width: 40%;
    height: auto;
}